.main-content {
  display: flex;
  flex-wrap: wrap;
}

.main-content-wrap {
  flex: 1 1 70%;
  min-width: 0;
}

.page-sidebar {
  flex: 0 0 25%;
  padding: 1rem;
  background-color: #f8f9fa;
  margin-left: 1rem;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .main-content-wrap, .page-sidebar {
    flex: 1 1 100%;
  }
  .page-sidebar {
    margin-left: 0;
    margin-top: 1rem;
  }
}