---
layout: table_wrappers
---

<!DOCTYPE html>

<html lang="{{ site.lang | default: 'en-US' }}">
{% include head.html %}
<body>
  <a class="skip-to-main" href="#main-content">Skip to main content</a>
  {% include icons/icons.html %}
  {% if page.nav_enabled == true %}
    {% include components/sidebar.html %}
  {% elsif layout.nav_enabled == true and page.nav_enabled == nil %}
    {% include components/sidebar.html %}
  {% elsif site.nav_enabled != false and layout.nav_enabled == nil and page.nav_enabled == nil %}
    {% include components/sidebar.html %}
  {% endif %}
  <div class="main" id="top">
    {% include components/header.html %}
    <div class="main-content-wrap">
        {% include components/breadcrumbs.html %}

        <div id="main-content" class="main-content">
            {% if page.year or page.products %}
              <div class="info-box">
                <h4>The context of this story</h4>
                <div class="info-box-content">
                  {% if page.year %}
                    <div class="info-item">
                      <strong>Year:</strong> {{ page.year }}
                    </div>
                  {% endif %}
                  {% if page.people %}
                  <div class="info-item">
                    <strong>People:</strong> {{ page.people }}
                  </div>
                {% endif %}
                  {% if page.products %}
                    <div class="info-item">
                      <strong>Products:</strong>
                      {% for product in page.products %}
                        {% if forloop.last %}{{ product }}{% else %}{{ product }}, {% endif %}
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
            {% endif %}
          
            <div class="content">
              {% if site.heading_anchors != false %}
                {% include vendor/anchor_headings.html html=content beforeHeading="true" anchorBody="<svg viewBox=\"0 0 16 16\" aria-hidden=\"true\"><use xlink:href=\"#svg-link\"></use></svg>" anchorClass="anchor-heading" anchorAttrs="aria-labelledby=\"%html_id%\"" %}
              {% else %}
                {{ content }}
              {% endif %}
          
              {% if page.has_children == true and page.has_toc != false %}
                {% include components/children_nav.html %}
              {% endif %}
            </div>

            <script async src="https://talk.hyvor.com/embed/embed.js" type="module"></script>
            <hyvor-talk-comments
              website-id="11792"
              page-id=""
            ></hyvor-talk-comments>
          
            {% include components/footer.html %}
          </div>


          
    {% if site.search_enabled != false %}
      {% include components/search_footer.html %}
    {% endif %}
  </div>

  {% if site.mermaid %}
    {% include components/mermaid.html %}
  {% endif %}
</body>
</html>